body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;

  color: #303846;
}
main {
  margin-top: 75px;
}
h2 {
  font-size: 31px;
}
select {
  height: 30px;
  width: 120px;
  border: 1px solid silver;
}
input {
  height: 30px;
  border: 1px solid silver;
  border-radius: 10px;
}
fieldset {
  border: 2px solid rgb(97, 206, 151);
  margin-top: 25px;
}
legend {
  font-size: 24px;
  font-weight: bold;
  color: rgb(121, 228, 174);
}
A:link {
  text-decoration: none;
}
A:visited {
  text-decoration: none;

  color: #303846;
}
.main-header {
  position: fixed;
  height: 75px;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 2;

  display: flex;
  align-items: center;
  
  font-weight: bold;

  background-color: white;
}
.header-logo {
  max-height: 45px;

  margin: 5px;
  margin-left: 20px;
}
.company-name {
  flex: 1;
  margin-left: 5px;
}
.navigation {
  margin: 10px;
}
.banner {
  display: flex;
  height: 550px;
  align-items: center;
  justify-content: center;

  background-image: url(../images/banner.png);
  background-position: center;
  background-position-y: 70%;
  background-repeat: no-repeat;
}
.banner-elements {
  position: absolute;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: white;
}
.banner-logo {
  max-height: 225px;
}
.logo-text-name {
  font-size: 48px;
}
.logo-text-slogan {
  font-size: 20px;
  margin-top: 2px;
}
.banner-button {
  display: block;
  height: 50px;
  width: 200px;
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: white;
  text-align: center;
  
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid silver;
  border-radius: 10px;
  margin-top: 25px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-box {
  display: flex;
  width: 100%;
  top: 0px;
  bottom: 0px;
  height: 300px;
  justify-content: center;
  align-items: center;
}
.content {
  position: relative;
  width: 1000px;
  height: 250px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.privilege {
  width: 300px;
  height: 200px;

  text-align: left;
  margin: auto;
}
.about {
  position: relative;
  vertical-align: middle;
  height: 220px;
  flex: 1;
}
.content-img {
  height: 100%;
  margin: 0px 25px 0px 25px;
}
.form {
  display: flex;
  text-align: center;
}
.in-form {
  display: flex;
  flex-direction: column;
}
.parameters {
  height: 120px;
  width: 475px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.parameters-in {
  height: 100px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  text-align: left;
}
.submit {
  height: 50px;
  width: 175px;

  font-size: 20px;
  font-weight: bold;
  color: rgb(121, 228, 174);
  background: rgba(255, 255, 255, 0.1);
  border: 1.5px solid rgb(121, 228, 174);
  margin-top: 20px;
}
.h-275px {
  height: 160px;
}
.align-item-c {
  align-items: center;
}
.height-600px {
  height: 700px;
}
.width-1200px {
  width: 1200px;
}
.t-align-r {
  text-align: right;
}
.marg-t-0px {
  margin-top: 0px;
}
.marg-t-10px {
  margin-top: 10px;
}
.marg-10px {
  margin: 10px;
}
.bg-gray {
  background:  #f7f7f7;
}
